<!-- <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4"> -->
<div class="col-xs-8 col-sm-8 col-md-8" ng-controller="registrationController">
	<div class="panel panel-default">
		<div class="panel-body">
			<form role="form">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group">
							<input type="text" name="first_name" id="first_name" ng-model="userForm.firstName"
								class="form-control input-sm" placeholder="First Name">
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group">
							<input type="text" name="last_name" id="last_name" ng-model="userForm.lastName"
								class="form-control input-sm" placeholder="Last Name">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group">
							<input type="email" name="email" id="email" ng-model="emailId" 
						class="form-control input-sm" placeholder="Email Address">
						</div>
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2">
						<div class="form-group">
							<input type="text" name="countryCode" id="countryCode" ng-model="countryCode"
						class="form-control input-sm" placeholder="Code">
						</div>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4">
						<div class="form-group">
							<input type="text" name="phone" id="phone" ng-model="phoneNumber"
						class="form-control input-sm" placeholder="Phone Number">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group">
							<input type="password" name="password" id="password" ng-model="password"
								class="form-control input-sm" placeholder="Password">
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group">
							<input type="password" name="password_confirmation" ng-model="confirmPassword"
								id="password_confirmation" class="form-control input-sm"
								placeholder="Confirm Password">
						</div>
					</div>
				</div>
				
				<div class="row center-block">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group">
							<input type="button" value="Register" class="btn btn-info btn-block" ng-click="register()">
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="form-group">
							<input type="button" value="Clear" class="btn btn-info btn-block" ng-click="clear()">
						</div>
					</div>
				</div>
				
				<div class="row" ng-show="invalid">
					<div class="col-xs-12 col-sm-12 col-md-12 center-block">
						<h4>{{errorMsg}}</h4>
					</div>
				</div>
				
			</form>
		</div>
	</div>
</div>